* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6EFEA;
    color: #160904;
    font-size: 22px;
    margin-top: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body,
nav,
h1,
h2,
h3 {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
}

.page-title {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
}

.images,
.form-container,
.product-card {
    box-shadow:
        0 6px 12px rgba(54, 32, 24, 0.25),
        0 10px 24px rgba(54, 32, 24, 0.18);
}

/* Branding */
#logo {
    color: #160904;
    display: inline-flex;
    font-family: "Babylonica", cursive;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    padding: 0 1rem;
}

#branding {
    display: flex;
}

.brand-name {
    font-family: "Babylonica", cursive;
    font-size: 2.6rem;
}

.tagline {
    font-family: "Babylonica", cursive;
    font-size: 3.5rem;
    margin-top: 2rem;
}

/* Navigation and Footer */
nav,
footer {
    background-color: #251109;
    color: #F6EFEA;
    text-align: center;
}

nav {
    border-top: 4px solid #58351b;
    border-bottom: 5px solid #402712;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15),
        0px 1px 2px black;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15),
        0px 1px 2px black;
}

footer {
    border-top: 4px solid #58351b;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15),
        0px 1px 2px black;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15),
        0px 1px 2px black;
    padding: 1rem;
}

/* Menu */
#menu {
    display: inline;
    font-size: 1.2rem;
    padding: 1rem 0;
}

#menu li {
    display: inline;
    line-height: 2;
    margin-right: 2rem;
    padding-inline: 2rem;
}

#menu li a {
    color: #F6EFEA;
    font-family: "Poiret One", sans-serif;
}

/* Buttons */
.btn-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

.primary-btn {
    background-color: #3A1F10;
    border: none;
    color: #F6EFEA;
    cursor: pointer;
    font-family: "Poiret One", sans-serif;
    font-size: 1.5rem;
    margin-inline: auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-top: 9px solid #58351b;
    border-right: 10px solid #311c0b;
    border-bottom: 10px solid #241505;
    border-left: 10px solid #402712;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15),
        0px 1px 2px black;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15),
        0px 1px 2px black;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15),
        0px 1px 2px black;
    width: fit-content;
}

.primary-btn:hover {
    background-color: #4B2E17;
    border-color: #5F391F #311F0D #170D03 #341F0F;
}

.primary-btn:active {
    border-color: #170D03 #341F0F #5F391F #311F0D;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.secondary-btn {
    background-color: #F3E9E1;
    border: none;
    color: #251109;
    cursor: pointer;
    font-family: "Poiret One", sans-serif;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    position: relative;
    width: fit-content;

    border-top: 5px solid #FFF8F2;
    border-right: 6px solid #E2D6CB;
    border-bottom: 6px solid #D2C3B6;
    border-left: 6px solid #E9DDD3;

    box-shadow:
        inset 0px 1px 0px rgba(255, 255, 255, 0.7),
        0px 1px 2px rgba(95, 70, 50, 0.35);
}

.secondary-btn:hover {
    background-color: #EBDDCE;
}

.secondary-btn:active {
    border-color: #D2C3B6 #E9DDD3 #FFF8F2 #E2D6CB;
    box-shadow: none;
}

/* Contact Us page */
input[type=text],
input[type=email],
input[type=tel],
textarea {
    border: 1px solid #341F0F;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.form-container {
    background: url("../images/vecteezy_dark-chocolate-stack-with-cacao-powder-and-beans_70869002.jpg") no-repeat center center;
    background-size: cover;
    border: 2px solid #251109;
    margin: 2rem 0;
    padding: 2rem;
}

/* Our Chocolates page */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    max-width: 900px;
    padding: 2rem 0;
}

.product-card {
    background-color: #251109;
    color: #F6EFEA;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    margin-bottom: 1rem;
    max-width: 100%;
}

.product-card .secondary-btn {
    margin-top: auto;
}

.product-title {
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    text-align: center;
}

.product-footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.product-card p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

#price {
    font-size: 1.3rem;
    margin: auto 0;
}