body {
  font-family: "Poiret One", sans-serif;
  font-weight: 500;
}

nav,
h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Babylonica", cursive;
  font-style: normal;
  font-weight: 400;
}
