* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6EFEA;
    color: #160904;
    font-size: 22px;
    margin-top: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body,
nav,
h1,
h2,
h3 {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    line-height: 1.6;
}

.page-title {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
}

#logo {
    color: #160904;
    display: inline-flex;
    font-family: "Babylonica", cursive;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    padding: 0 1rem;
}

#branding {
    display: flex;
}

.brand-name {
    font-family: "Babylonica", cursive;
    font-size: 2.6rem;
}

nav,
footer {
    background-color: #251109;
    color: #F6EFEA;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
}

footer {
    padding: 1rem;
}

#menu {
    display: inline;
    font-size: 1.2rem;
    padding: 1rem 0;
}

#menu li {
    display: inline;
    line-height: 2;
    margin-right: 2rem;
    padding-inline: 2rem;
}

#menu li a{
    color: #F6EFEA;
    font-family: "Poiret One", sans-serif;
}

.btn-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

.primary-btn {
    background-color: #251109;
    border: none;
    color: #F6EFEA;
    cursor: pointer;
    font-family: "Poiret One", sans-serif;
    font-size: 1.5rem;
    margin-inline:auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    width: fit-content;
}

.tagline {
    font-family: "Babylonica", cursive;
    font-size: 3rem;
}